<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css " />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <h2>Quiz</h2>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/author">Author</a>
        <a href="/credits">credits</a>
        <a href="/quizzes">quizzes</a>
    </nav>
    
    <section>
        <div>
            <%- body %>
        </div>
    </section>

</body>
</html>